@page
@model Final_Project.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
body {
  background-image: url('pics/Background5.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

<h1 style="color:SeaGreen; font-family:Lucida Handwriting;">Products</h1>

<form>
    <input asp-for="Search" input type="text" placeholder="Search.." name="search">
    <button type="submit">Search</button>
</form>

<p></p>

<form>
	<select asp-for="CurrentSort" asp-items="Model.SortList">
		<option value="">Sort by...</option>
	</select>
	<button type="submit">Sort</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Brand)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            @if(item.Name == "Double Wear Foundation") {
            <td>
                <img src="pics/DoubleWear.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Pro Filt'r Soft Matte Longwear Liquid Foundation") {
            <td>
                <img src="pics/ProFiltr.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Face Tape Foundation") {
            <td>
                <img src="pics/FaceTape.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Good Apple Skin-Perfecting Hydrating Foundation Balm") {
            <td>
                <img src="pics/GoodApple.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Morphe 2 Hint Skin Tint") {
            <td>
                <img src="pics/HintSkinTint.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }@if(item.Name == "On Your Collar Plumping Lip Gloss") {
            <td>
                <img src="pics/OnUrCollar.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Gloss Bomb Universal Lip Luminizer") {
            <td>
                <img src="pics/GlossBomb.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Matte Liquid Lipstick") {
            <td>
                <img src="pics/KylieLip.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Everlasting Liquid Lipstick") {
            <td>
                <img src="pics/Everlastin.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Maracuja Juicy Lip Plump") {
            <td>
                <img src="pics/Maracuja.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Midnight Shadows Eyeshadow Palette") {
            <td>
                <img src="pics/Midnight.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Sweet Peach Eyeshadow Palette") {
            <td>
                <img src="pics/SweetPeach.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Maneater Mascara") {
            <td>
                <img src="pics/Maneater.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "35XO Natural Flirt Artistry Palette") {
            <td>
                <img src="pics/35XO.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Bright Fix Eye Brightner") {
            <td>
                <img src="pics/BrightEye.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Tattoo Liner") {
            <td>
                <img src="pics/TattooLiner.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Pressed Powder Blush") {
            <td>
                <img src="pics/KylieBlush.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Super Shock Blush") {
            <td>
                <img src="pics/SuperShock.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Eclipse Cheek & Lip Stick") {
            <td>
                <img src="pics/Eclipse.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Cheeks Out Freestyle Cream Bronzer") {
            <td>
                <img src="pics/CheeksOut.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Amazonian Clay Matte Waterproof Bronzer") {
            <td>
                <img src="pics/Amazonian.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Diamond Bomb All-Over Diamond Veil") {
            <td>
                <img src="pics/DiamondBomb.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Super Shock Highlighter") {
            <td>
                <img src="pics/SuperShockHighlighter.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Interstellar Highlighter Topper") {
            <td>
                <img src="pics/Interstellar.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "All Nighter Face Makeup Primer") {
            <td>
                <img src="pics/AllNighter.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Hangover Replenishing Face Primer") {
            <td>
                <img src="pics/Hangover.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            @if(item.Name == "Pro Filt'r Hydrating Primer") {
            <td>
                <img src="pics/FentyPrimer.jpg" style="width:100px;height:120px;border-radius: 8px;"/>
            </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ProductId" style="color:SeaGreen";>Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
@{
    var prevDisabled = "";
    var nextDisabled = "";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
    if (Model.Product.Count/Model.PageSize == 0)
    {
        nextDisabled = "disabled";
    }
}
<!-- Pagination -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum - 1)" asp-route-CurrentSort="@(Model.CurrentSort)">Previous</a></li>
    <li class="page-item @nextDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum + 1)" asp-route-CurrentSort="@(Model.CurrentSort)">Next</a></li>
  </ul>
</nav>
